<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 목록</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <h2>게시판 목록</h2>

  <a th:href="@{/write}">글쓰기</a>	<br><br>
  <table border="1" width="100%">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
          <a th:href="@{|/detail/${board.id}|}"
             th:text="${board.subject}"></a>
        </td>
        <td th:text="${#temporals.format(board.createdate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${board.hit}"></td>
      </tr>
    </tbody>
  </table>
  
</body>
</html>