<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>회원가입</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
  <div class="container">
    <h2>회원가입</h2>

    <form th:action="@{/join}" th:object="${userInfo}" method="post" autocomplete="off">
      <div class="form-row">
        <label for="username">이름</label>
        <input id="username" type="text" th:field="*{username}" placeholder="이름" required />
      </div>

      <div class="form-row">
        <label for="useremail">이메일</label>
        <input id="useremail" type="email" th:field="*{useremail}" placeholder="example@mail.com" required />
      </div>

      <div class="form-row">
        <label for="userage">나이</label>
        <input id="userage" type="number" th:field="*{userage}" min="0" placeholder="나이" />
      </div>

      <div class="form-row">
        <label for="userpw">비밀번호</label>
        <input id="userpw" type="password" th:field="*{userpw}" placeholder="비밀번호" required />
      </div>

      <button class="primary" type="submit">회원가입</button>
    </form>
  </div>

  <!-- JS  -->
  <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>
