<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/style.css}">

  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  
    <title>freeBoard</title>
</head>
<body>
	<!-- 네비게이션바 -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	 <!-- 본문 영역 -->
	<th:block layout:fragment="content"></th:block>

	<!-- 자바 스크립트 시작 -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바 스크립트 끝 -->
	
  <!-- JS -->
  <script th:src="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>
