<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-4">

  <!-- 게시글 상세 -->
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title" th:text="${reviewBoard.subject}">제목</h2>
      <p class="text-muted mb-2">
        작성일:
        <span th:text="${#temporals.format(reviewBoard.createdate, 'yyyy-MM-dd HH:mm')}">2025-09-15 12:00</span>
        | 조회수:
        <span th:text="${reviewBoard.hit}">0</span>
        | 작성자:
        <span th:text="${reviewBoard.author.realname}">0</span>
        | 추천수:
        <span th:text="${reviewBoard.voter == null ? 0 : #lists.size(reviewBoard.voter)}"></span>
      </p>
      <hr>
      <p class="card-text" th:text="${reviewBoard.content}">게시글 내용</p>
      <div class="mt-3">
        <a th:href="@{/reviewBoard}" class="btn btn-secondary btn-sm">목록으로</a>
        <a th:href="@{/reviewBoard_vote/${reviewBoard.id}" class="vote btn btn-secondary btn-sm" sec:authorize="isAuthenticated">추천하기</a>
         <a th:href="@{/reviewBoard_vote/${reviewBoard.id}}" sec:authorize="isAuthenticated"  class="vote btn btn-secondary btn-sm">추천하기</a>
        <a th:href="@{|/reviewBoard_modify/${reviewBoard.id}|}" sec:authorize="isAuthenticated" 
        	th:if="${reviewBoard.author.username != null and reviewBoard.author.username == #authentication.getPrincipal().getUsername}" class="btn btn-primary btn-sm">수정하기</a>
        <a th:href="@{|/reviewBoard_delete/${reviewBoard.id}|}" sec:authorize="isAuthenticated" 
         	th:if="${reviewBoard.author.username != null and reviewBoard.author.username == #authentication.getPrincipal().getUsername}" class="delete btn btn-primary btn-sm">삭제하기</a>
      </div>
    </div>
  </div>

<!-- 자바스크립트 -->
	<script layout:fragment="script" type="text/javascript">

	// 삭제
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
	  element.addEventListener('click', function () {
	     if (confirm("정말로 삭제하시겠습니까?")) {
	        location.href = this.dataset.uri;
	     };
	  });
	});

</script>
</div>
</body>
</html>
